<script src="{{ '/assets/js/vendor/jquery/jquery-1.12.4.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/plugins/jquery.fitvids.js' | relative_url }}"></script>
<script src="{{ '/assets/js/plugins/jquery.greedy-navigation.js' | relative_url }}"></script>
<script src="{{ '/assets/js/plugins/stickyfill.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/plugins/jquery.smooth-scroll.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/plugins/jquery.magnific-popup.js' | relative_url }}"></script>
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>

{% include analytics.html %}
{% include fetch_google_scholar_stats.html %}
